{% extends "base.html" %}
{% block title %}View Expenses{% endblock %}
{% block content %}
<div class="overflow-scroll">
    <table class="table-light">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Trip</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.id }}</td>
            <td>{{ expense.expense_date }}</td>
            <td>{{ expense.trip.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.currency.iso_code }}</td>
            <td>{{ expense.category.category_name }}</td>
            <td>{{ expense.description }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}