{% extends "base.html" %}
{% block title %}Trip Summary{% endblock %}
{% block content %}
<div>
    <b>Total Trip Budget</b>: ${{ total_trip_budget }}<br />
    <b>Total Spent</b>: ${{ total_spent_trip }}<br />
    <b>Daily Budget Remaining</b>: ${{ daily_budget_remaining|round(2) }}<br />
</div>

<div class="overflow-scroll">
    <table class="table-light">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>Category</th>
            <th>Total Expenses</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in category_expenses.values() %}
            <tr>
                <td>{{ expense.category_id }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}