{% extends "base.html" %}
{% block title %}View Trips{% endblock %}
{% block content %}
<div class="overflow-scroll">
    <table class="table-light">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
        <tr>
            <td><a href="/trips/summary/trip-{{ trip.id }}/">{{ trip.id }}</a></td>
            <td>{{ trip.name }}</td>
            <td>{{ trip.start_date }}</td>
            <td>{{ trip.end_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}